<img
  src="../../../assets/media/pictures/pgcc-frontpage.png"
  alt=""
  class="rounded mx-auto d-block scoot-down"
/>

<div class="halfway">
  <form ngNativeValidate>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Username</label>
      <input
        type="text"
        id="form2Example1"
        class="form-control"
        [(ngModel)]="loginUser.username"
        name="username"
        required
      />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input
        [(ngModel)]="loginUser.password"
        type="password"
        id="form2Example2"
        class="form-control"
        name="password"
        required
      />
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-primary btn-block mb-4"
      (click)="login(loginUser)"
    >
      Sign in
    </button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a [routerLink]="['sign-up']">Register</a></p>
    </div>
  </form>
</div>
