<div class="container">
  <div class="row">
    <div class="col">First Name:</div>
    <div class="col">{{ loginUser.firstName }}</div>
    <div class="w-100"></div>
    <div class="col">Last Name:</div>
    <div class="col">{{ loginUser.lastName }}</div>
    <div class="w-100"></div>
    <div class="col">Email:</div>
    <div class="col">{{ loginUser.email }}</div>
    <div class="w-100"></div>
    <div class="col">Username:</div>
    <div class="col">{{ loginUser.username }}</div>
  </div>
</div>
