body {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.scooch {
  margin-left: 10px;
}

.scooch-left {
  margin-right: 20px;
}

nav {
  background-color: #002c77;
}
