.roomy {
  margin-top: 50px;
}

.btn-primary {
  background-color: #002c77 !important;
}

.push-down {
  margin-bottom: 5px;
}

.space-1 {
  margin-right: 7%;
}

.space-2 {
  margin-right: 4%;
}

.space-3 {
  margin-right: 6%;
}

.scooch-right {
  margin-left: 10px;
}

.scooch-down {
  margin-top: 10px;
}

.push-right {
  margin-right: 5px;
}

.text-color-white {
  color: white;
}
