.roomy {
  margin-top: 50px;
}

.btn-primary {
  background-color: #002c77 !important;
}

.push-down {
  margin-bottom: 5px;
}

.scooch-right {
  margin-left: 10px;
}

.scooch-down {
  margin-top: 10px;
}

.push-right {
  margin-right: 5px;
}

.text-color-white {
  color: white;
}

.cert-box {
  margin-left: 50px;
}

.comp-box {
  margin-left: 30px;
}

.de-box {
  margin-left: 20px;
}

.ed-box {
  margin-left: 45px;
}
