<div class="container roomy">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ loginUser.firstName }} {{ loginUser.lastName }}
      </div>
      <div class="text-right push-down">
        <button class="btn btn-primary" (click)="flipForm()">
          <i class="bi bi-plus">Add</i>
        </button>
      </div>
      <form id="myform"></form>
      <form id="newCertForm"></form>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Certification</th>
              <th>Company</th>
              <th>Date Earned</th>
              <th>Expiration Date</th>
              <th></th>
            </tr>
          </thead>

          <tbody *ngFor="let cert of userCerts">
            <tr
              data-toggle="collapse"
              attr.data-target="#demo{{ cert.id }}"
              class="accordion-toggle"
            >
              <td>
                <button class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </button>
              </td>
              <td *ngIf="cert.id === editedId">
                <input
                  type="text"
                  name="name"
                  id="name"
                  form="myform"
                  for="name"
                  [(ngModel)]="editedCert.name"
                />
              </td>
              <td *ngIf="cert.id === editedId">
                <input
                  type="text"
                  name="company"
                  id="company"
                  form="myform"
                  for="company"
                  [(ngModel)]="editedCert.company"
                />
              </td>
              <td *ngIf="cert.id === editedId">
                <input
                  type="date"
                  name="dateObtained"
                  id="dateObtained"
                  form="myform"
                  for="dateObtained"
                  [(ngModel)]="editedCert.dateObtained"
                />
              </td>
              <td *ngIf="cert.id === editedId">
                <input
                  type="date"
                  name="dateExpiration"
                  id="dateExpiration"
                  form="myform"
                  for="dateExpiration"
                  [(ngModel)]="editedCert.dateExpiration"
                />
              </td>
              <button
                *ngIf="cert.id === editedId"
                type="button"
                class="btn btn-primary text-color-white"
                (click)="updateCertification(cert)"
              >
                <!-- <i class="bi bi-pen"></i> -->
                Update
              </button>
              <td *ngIf="cert.id !== editedId">{{ cert.name }}</td>
              <td *ngIf="cert.id !== editedId">{{ cert.company }}</td>
              <td *ngIf="cert.id !== editedId">{{ cert.dateObtained }}</td>
              <td *ngIf="cert.id !== editedId">{{ cert.dateExpiration }}</td>
              <button
                *ngIf="cert.id !== editedId"
                (click)="assignNumber(cert)"
                type="button"
                class="btn btn-secondary push-right"
              >
                <i class="bi bi-pen"></i>
              </button>
              <button
                *ngIf="cert.id !== editedId"
                (click)="deleteCertification(cert)"
                type="button"
                class="btn btn-secondary"
              >
                <i class="bi bi-trash"></i>
              </button>
            </tr>
          </tbody>
        </table>

        <div>
          
        </div>

        <div *ngIf="newForm" class="row">
          <form>
            <div class="row">
              <div class="col-md-2 cert-box">
                <label class="form-label" for="name"></label>
                <input
                  for="name"
                  name="name"
                  type="text"
                  [(ngModel)]="newCert.name"
                />
              </div>

              <div class="col-md-2 space-2 comp-box">
                <label class="form-label" for="company"></label>
                <input
                  for="company"
                  name="company"
                  type="text"
                  [(ngModel)]="newCert.company"
                />
              </div>

              <div class="col-md-2 de-box">
                <label class="form-label" for="dateEarned"></label>
                <input
                  for="dateObtained"
                  name="dateObtained"
                  type="date"
                  [(ngModel)]="newCert.dateObtained"
                />
              </div>

              <div class="col-md-2 ed-box">
                <label class="form-label" for="dateExpiration"> </label>
                <input
                  for="dateExpiration"
                  name="dateExpiration"
                  type="date"
                  [(ngModel)]="newCert.dateExpiration"
                />
              </div>
            </div>
            <button
              (click)="createCertification()"
              class="btn btn-primary scooch-down"
            >
              Add
            </button>
            <button
              (click)="flipFormOff()"
              class="btn btn-danger scooch-right scooch-down"
            >
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
