.halfway {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 10px;
  }

.btn-primary {
    background-color: #002c77 !important;
  }

//   .scoot-down {
//     margin-top: 5%;
//   }